@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-decoration: #191919;
}
input{
    width: 200px;
    height: 30px;
    margin: 15px 0 15px 0;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #191919;
}
.button{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background: none;
}
.succes{
    border: 2px solid green;
    background-color: lightgreen;
}
.delete{
    border: 2px solid rgb(163, 0, 0);
    background-color: red;
}